.announcements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .announce-item-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        width: 80%;
        height: 70px;
        border-radius: 20px;
        margin: 10px 0;
        border: solid 1px #ea6c6c;
        background-color: #ffffff;
    }
}