.cancel-order-item-wrapper {
    border-radius: 30px;
    width: 90%;
    position: relative;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

    .cancel-order-item-title {
        border-bottom: 1px solid rgb(218, 214, 214);
        width: calc(100% - 36px);
        margin: auto;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        padding-top: 10px;
        letter-spacing: normal;
        color: #3e3e3e;
        text-align: center;
    }

    .cancel-order-item-bar-info {
        display: flex;

        div {
            margin: 10px 5px;
            font-size: 17px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: left;
            color: #3e3e3e;
        }
    }

    .cancel-order-item-truck-info {
        display: flex;

        div {
            margin: 10px 5px;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: left;
            color: #3e3e3e;
        }
    }

    .cancel-order-item-btn-wrapper {
        position: absolute;
        bottom: -23px;
        width: 175px;
    }

    .cancel-order-item-failed-warning {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin: 0 2px 30px 2px;
            color: #f5c045;
            font-size: 15px;
        }
    }
}

@media (max-width: 600px) {
    .cancel-order-item-wrapper {
        width: 100%;
    }
}