.critics-suggestions-wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;


    .critics-suggestions-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        input {
            width: 70%;
            margin-bottom: 50px;
            text-align: center;
            font-size: 15px;

        }

        textarea {
            resize: none;
            height: 330px;
            border-radius: 20px;
            border: solid 1px #bcbcbc;
            background-color: #f8f8f8;
            width: 70%;
            margin-bottom: 30px;
            font-size: 15px;
            padding-right: 15px;
            padding-top: 15px;
        }
    }
}


@media (max-width: 820px) {
    .critics-suggestions-wrapper {
        margin-bottom: 20px;

        .critics-suggestions-form {
            input {
                margin-bottom: 30px;
            }
        }
    }
}