.current-order-item-wrapper {
    width: 90%;
    border-radius: 30px;
    position: relative;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

    .current-order-item-title {
        border-bottom: 1px solid rgb(218, 214, 214);
        width: calc(100% - 36px);
        margin: auto;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        padding-top: 10px;
        letter-spacing: normal;
        color: #3e3e3e;
        text-align: center;
    }

    .current-order-item-warning {
        display: flex;
        margin-top: 10px;
        margin-bottom: 40px;

        div {
            color: #f5c045;
            font-size: 15px;
            margin-right: 5px;
        }
    }

    .current-order-item-location-wrapper {
        display: flex;
        margin: 20px;
        align-items: center;

        img {
            margin: 0 10px;
        }

        .current-order-item-location {
            margin: 0 10px 10px 10px;
            font-size: 17px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
        }
    }

    .btns-wrapper {
        width: calc(100% - 30px);
        position: absolute;
        display: flex;
        bottom: -23px;
        justify-content: space-around;

        .btn-wrapper {
            width: 150px
        }
    }

}

@media (max-width: 600px) {
    .current-order-item-wrapper {
        width: 100%;
    }
}