.custom-btn-wrapper {
    border: 0;

    .black-btn {
        border: 0;
        width: 100%;
        font-size: 16px;
        height: 43px;
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #3e3e3e;
        color: #f5c045;

        &:hover {
            border: 0;
            width: 100%;
            font-size: 16px;
            height: 43px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border-radius: 20px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #f5c045;
            color: #3e3e3e;
        }
    }

    .yellow-btn {
        border: 0;
        width: 100%;
        font-size: 16px;
        height: 43px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #f5c045;
        color: #3e3e3e;
    }

    .white-btn {
        border: 0;
        width: 100%;
        font-size: 16px;
        height: 43px;
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: white;
        color: #f5c045;
    }
}