.single-external-transaction-container {
    width: 80%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .single-external-transaction-title {
        border-bottom: 1px solid #dad6d6;
        width: calc(100% - 36px);
        margin: auto;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        padding-top: 10px;
        letter-spacing: normal;
        color: #3e3e3e;
        text-align: center;
    }

    .single-external-transaction-cost {
        display: flex;
        font-size: 18px;
        margin: 13px 0;
    }

    .single-external-transaction-status {
        margin-bottom: 45px;
        width: 80%;
        font-size: 18px;
    }

    .single-external-transaction-vehicle-type {
        display: flex;
        margin-bottom: 18px;

        div {
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.58;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
        }
    }

    .single-external-transaction-btns-container {
        position: absolute;
        width: 55%;
        bottom: -22px;
    }
}