.external-transactions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .truck-wrapper {
        margin-top: 40px;
    }
}

.details-order-wrapper {
    display: flex;
    width: 700px;
    justify-content: space-around;

    .directions-wrapper {
        margin-top: 15px;
    }

    .detail-directions-wrapper {
        border: 1px solid #f5c045;
        padding: 12px;
        border-radius: 10px;
        overflow: auto;
        height: 165px;
        width: 300px;

        .detail-directions-item {
            margin-bottom: 5px;
        }
    }

    .detail-title-item {
        border-bottom: 1px solid #f5c045;
    }
}

.modal-width {
    width: 750px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:800px) {
    .modal-width {
        width: 350px !important;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .details-order-wrapper {
        flex-direction: column;
        width: 100%;
        overflow: auto;
        max-height: 450px;

        .detail-directions-item {
            margin-left: 5px;
        }
    }
}