.financial-management-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .payment-wrapper {
        width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;

        .payment-wrapper-finance {
            width: 90%;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            margin: 25px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        }

        .payment-form-wrapper {
            width: 100%;
            margin-bottom: 20px;

            .payment-form-btn {
                width: 120px
            }

            form {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
            }

            input {
                width: 450px
            }
        }
    }

    .transactions-wrapper {
        margin: 20px 0;
        width: 500px;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;

        .transactions-date-price {
            display: flex;
            justify-content: space-between;
            padding: 10px 2px 0 0
        }

        .transactions-price-type-clock {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 2px 0 0
        }
    }
}

@media(max-width:800px) {
    .financial-management-container {
        padding: 0 15px;
    }

    .payment-wrapper,
    .transactions-wrapper {
        width: 100% !important;
    }
}

@media (max-width:650px) {
    .payment-form-wrapper {
        .d-flex {
            flex-direction: column;
            padding: 0 15px;

            input {
                width: 100% !important;
                margin-bottom: 10px;
            }

            .payment-form-btn {
                width: 100% !important;
            }
        }
    }
}