body {
    background: #f3f3f3;
}

.top-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.route-wrapper {
    width: 100%;
    margin: auto;
}

.index-logo {
    padding: 23px
}

.index-navbar {
    padding: 63px 43px 0 0;
}

.bg-cover {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}