.info-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .trans-kind-wrapper {
        width: 250px;
    }

    .info-bar-back {
        position: absolute;
        top: 48px;
        left: 224px;
    }

    .checkbox-input-container {
        display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 19px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox-input-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .check-mark {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: 2px solid #d39e00;
        border-radius: 5px;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-input-container input:checked~.check-mark {
        background-color: transparent;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .check-mark:after {
        content: "";
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-input-container input:checked~.check-mark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-input-container .check-mark:after {
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid #d39e00;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    input {
        height: 40px;
        margin-bottom: 15px;
        box-shadow: 0 3px 6px 0 rgba(62, 62, 62, 0.16);
    }

    .info-bar-wrapper {
        border-bottom: 1px solid #dad6d6;
        margin: 10px 0;

        .info-bar-div {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            height: 40px;
            margin-bottom: 15px;
            box-shadow: 0 3px 6px 0 rgba(62, 62, 62, 0.16);

            .info-bar-div-arrow {
                position: absolute;
                width: 19px;
                top: 10px;
                left: 9px;
            }
        }

        .info-bar-input-wrapper {
            display: flex;
            width: 300px;
            justify-content: space-between;

            div {
                width: 145px;

            }

            input {
                width: 145px;
            }
        }
    }

    .add-photo-wrapper {
        width: 300px;
        border-bottom: 1px solid #dad6d6;
        margin: 10px 0;
        position: relative;

        .trash-images {
            margin-right: 3px;
            width: 15px;
            cursor: pointer;
        }

        .add-photo {
            display: flex;
        }
    }

    .radio-input-container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .radio-input-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        border: solid 2px #d39e00;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .radio-input-container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .radio-input-container input:checked~.checkmark {
        border: solid 2px #d39e00;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio-input-container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio-input-container .checkmark:after {
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #d39e00;
    }

    .payment-area-wrapper {
        width: 300px;
        margin: 10px 0;
        border-bottom: 1px solid #dad6d6;

        .payment-area-radios-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        .radio-wrapper {
            width: 226px;
            margin-top: 8px;
            margin-bottom: 14px;
        }

        .radio-active-wrapper {
            width: 226px;
            margin-top: 8px;
            margin-bottom: 0;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            outline: none;
            margin: 0;
        }

        .switch input {
            position: absolute;
            opacity: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
        }

        input:checked+.slider {
            background-color: #d39e00;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #d39e00;
        }

        input:checked+.slider:before {
            left: -4px;
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .package-type-wrapper {
        width: 240px;
        overflow-y: auto;
        scroll-behavior: smooth;

        .package-type-item {
            font-size: 14px;
            border-bottom: 1px solid #dad6d6;
            cursor: pointer;
            padding-top: 3px;
            width: 100%;
            text-align: center;
        }
    }

    .truck-wrapper {
        width: 240px;
        overflow-y: auto;
        scroll-behavior: smooth;

        .truck-item {
            font-size: 14px;
            border-bottom: 1px solid #dad6d6;
            cursor: pointer;
            padding-top: 3px;
            width: 100%;
            text-align: right;
        }
    }

    .confirm-new-request-wrapper {
        width: 300px;
        margin: 10px 0 30px 0;
    }

    .class-bar-wrapper {
        width: 240px;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 300px;

        .class-bar-item {
            font-size: 14px;
            border-bottom: 1px solid #dad6d6;
            cursor: pointer;
            padding-top: 3px;
            width: 100%;
            text-align: right;
        }
    }

    .weight-wrapper {
        width: 200px;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 150px;

        .weight-item {
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid #dad6d6;
            cursor: pointer;
            padding-top: 3px;
        }
    }

    .dates-wrapper {
        width: 200px;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 150px;

        .dates-item {
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid #dad6d6;
            cursor: pointer;
            padding-top: 3px;
        }
    }

    .hours-wrapper {
        width: 200px;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 150px;

        .hour-item {
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid #dad6d6;
            cursor: pointer;
            padding-top: 3px;
        }
    }
}