.load-wrapp {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(248, 249, 250, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
  }
  
  .line {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 15px;
    background-color: #181818;
  }
  
  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
  
  @keyframes loadingC {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 25px);
    }
    100% {
      transform: translate(0, 0);
    }
  }