.background-view {
    background-image: url("../../assets/images/background-view.png");
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin: auto;

    .confirm-btn-modal {
        width: 145px;
        height: 44px;
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
        background-color: #f5c045;
    }

    .pre-Code-Modal-wrapper {
        width: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 350px;

        /* width */
        .pre-Code-Modal {
            cursor: pointer;
            margin: 7px;
            border-bottom: 1px solid gray;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
        }
    }

    .sign-in-actions-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 100px;
        width: 328px;
        opacity: 1;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
        background-color: #f8f8f8;
        margin: auto;

        .sign-in-actions-wrapper-otp-title {
            display: flex;
            flex-direction: column;
            opacity: 0.95;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
            margin-top: 10px;
        }

        .sign-in-actions-wrapper-otp-input {
            font-size: 26px;
            width: 100px;
            border: 0;
            margin: 5px 0;
        }

        .sign-in-actions-wrapper-otp-btns {
            margin-bottom: 6px;
        }

        .sign-in-actions-wrapper-otp-timer-wrapper {
            display: flex;
            margin: 8px;
        }

        .sign-in-actions-wrapper-title {
            width: 206px;
            height: 50px;
            opacity: 0.95;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.56;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
        }
    }

    .sign-up-actions-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        height: 100%;

        * {
            margin: 5px;
        }

        button {
            width: 300px;
        }

        .sign-up-legal-mobile-container {
            display: flex;
            justify-content: space-between;
            width: 300px;
            align-items: center;

            input {
                width: 45%;
                margin: 5px 0;
            }
        }

        .sign-up-actions-wrapper-rules {
            display: flex;
        }

        .sign-up-pre-code {
            width: 45%;
            position: relative;

            .pre-code-icon-wrapper {
                position: absolute;
                display: inline;
                top: 6px;
            }

            .pre-code {
                width: 100%;
            }
        }

        .sign-up-member-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
            height: 167px;
            border-radius: 20px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;

            .border-btm {
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
                width: calc(100% - 25px);
            }

            .sign-up-member-type-title {
                font-size: 15px;
                font-weight: bold;
            }

            .radio-input-container {
                display: block;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                font-size: 13px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Hide the browser's default radio button */
            .radio-input-container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            .checkmark {
                border: solid 2px #d39e00;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: #eee;
                border-radius: 50%;
            }

            /* On mouse-over, add a grey background color */
            .radio-input-container:hover input~.checkmark {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            .radio-input-container input:checked~.checkmark {
                border: solid 2px #d39e00;
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .radio-input-container input:checked~.checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */
            .radio-input-container .checkmark:after {
                top: 2px;
                left: 2px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #d39e00;
            }
        }

        /* The container */
        .checkbox-input-container {
            display: block;
            position: relative;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 19px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .checkbox-input-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .check-mark {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            border: 2px solid #d39e00;
            border-radius: 5px;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-input-container input:checked~.check-mark {
            background-color: transparent;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .check-mark:after {
            content: "";
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-input-container input:checked~.check-mark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-input-container .check-mark:after {
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #d39e00;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sign-up-agree-condition {
            display: flex;
            align-items: center;
            font-size: 16px;
        }

        .sign-up-btn {
            border-color: #d39e00;
            border: solid 2px;
            color: #d39e00;
            background: transparent;
        }
    }
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}