.sidenav {
    height: 500px;
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 20px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 14px;
    overflow: hidden;

    .nav-active {
        span {
            color: #f5c045;
        }
    }

    a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .menu-profile-wrapper {
        background: #C8C6CE;

        .menu-profile-image {
            margin-top: 45px;
        }

        .edit-profile {
            margin: 28px 17px 0 0;
            align-self: flex-end;
            cursor: pointer;
        }

        .menu-profile-info {
            flex-direction: column;
            margin-top: 11px;
            margin-bottom: 0;
        }
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

    div {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        img {
            width: 22px;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: #000;
        }
    }
}