.new-request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .province-city-wrapper {
        width: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 250px;

        .province-city-item {
            cursor: pointer;
            width: 95%;
            margin: 7px;
            border-bottom: 1px solid gray;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
        }
    }

    .g-map {
        position: relative;
        width: 80%;

        .confirm-addresses-button-wrapper {
            position: absolute;
            width: 230px;
            left: 50%;
            top: 400px;
            transform: translate(-50%);
        }

        .province-city-wrapper {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translate(-50%);
            height: 105px;

            .search-area-wrapper {
                cursor: pointer;
                margin: 15px auto;
                height: 30px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 268.4px;
                border-radius: 20px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
                background-color: #ffffff;
            }
        }
    }

    .choose-mode-target {
        justify-content: center;
        margin-bottom: 12px;

        .choose-mode-target-item {
            border-bottom: 1px solid #dad6d6;
            font-size: 17px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            width: 148px;
            text-align: center;
            cursor: pointer;
        }

        .target-blue {
            border-bottom: 1px solid #06b2d9;
            color: #06b2d9
        }
    }

    .input-more-info-wrapper {
        position: relative;
        margin-bottom: 12px;

        .input-more-info-icon {
            position: absolute;
            top: 10px;
            right: 7px;
        }

        .padding-right-input {
            padding-right: 33px;
        }

        .box-black-shadow {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }

        .box-blue-shadow {
            box-shadow: 0 3px 6px 0 rgba(6, 178, 217, 0.16);
        }

        .input-rest-address {
            width: 120px
        }
    }

}

.g-map div:nth-child(2)>div {
    position: initial !important;
}

.new-request-container .input-more-info-wrapper .input-more-info-icon {
    position: absolute !important;
}

@media (max-width:800px) {
    .gmnoprint {
        display: none !important
    }


}