.not-found-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .not-found-error {
        font-size: 100px;
        font-family: sans-serif;
    }
}