.orders-list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;

    .title-header {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 30px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.59;
        letter-spacing: normal;
        text-align: left;
        color: #3e3e3e;
    }

    .truck-wrapper {
        // position: fixed;
        // top: 67%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .truck-img {
            width: 300px;
        }

        .btn-request-wrapper {
            margin-top: 20px;
            width: 80%
        }
    }

    .tabs-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 25px;

        .tab {
            text-align: center;
            height: 52px;
            width: 100%;
            font-size: 23px;
            color: #3e3e3e;
            cursor: pointer;
            border-bottom: 3px solid #DFD8D8;
        }

        .tab-active {
            border-bottom: 3px solid #f5c046;
            color: #f5c046;
        }
    }

    .checkbox-input-container {
        display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 19px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox-input-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .check-mark {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: 2px solid #d39e00;
        border-radius: 5px;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-input-container input:checked~.check-mark {
        background-color: transparent;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .check-mark:after {
        content: "";
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-input-container input:checked~.check-mark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-input-container .check-mark:after {
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid #d39e00;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .rating-star {
        width: 20px;
        margin: 0 5px;
        height: 20px;
    }
}

@media (max-width: 600px) {
    .orders-list-container {
        .tabs-wrapper {
            .tab {
                font-size: 16px;
            }
        }

        .truck-wrapper {
            // top: 78%;

            .truck-img {
                width: 230px;
            }
        }
    }
}