.pursuit-requests-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .render-driver-list-wrapper {
        overflow: auto;
        max-height: 403px;
    }

    .render-confirm-request-wrapper {

        .render-confirm-request-wrapper-item {
            display: flex;
            width: 80%;
            margin: 6px 30px 6px 0;

        }

        .render-confirm-request-driver-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 10px 0;

            button {
                border: 0;
                width: 40%;
                font-size: 16px;
                height: 43px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border-radius: 20px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #f5c045;
                color: #3e3e3e;

                &:hover {
                    border: 0;
                    width: 40%;
                    font-size: 16px;
                    height: 43px;
                    border-radius: 20px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #3e3e3e;
                    color: #f5c045;
                }
            }
        }

        .driver-info-wrapper {
            padding: 15px;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            margin-bottom: 15px;

            .driver-info-seprated {
                display: flex;

                .driver-info-rating-image-wrapper {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                }

                .rating-star {
                    width: 20px;
                    margin: 0 5px;
                    height: 20px;
                }


            }

            .driver-info-wrapper-btn {
                margin-top: 10px;
                display: flex;
                justify-content: center;

                button {
                    width: 120px;
                }
            }
        }

    }

    .destination-location-wrapper {

        .destination-location-item {
            display: flex;
            width: 80%;
            margin: 6px 30px 6px 0;
        }

        .addresses-wrapper {
            margin-bottom: 10px;

            .addresses-locations-item {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 6px 30px 6px 0;
                border-bottom: 1px solid #ffc107;
                padding: 8px;
                border-radius: 4px;
            }
        }

    }

    .render-loading-bar-wrapper {

        .render-loading-bar-item {
            display: flex;
            width: 80%;
            margin: 6px 30px 6px 0;
        }

        .render-loading-bar-deliver-wrapper {
            border-radius: 4px;
            border: 1px solid #ffc107;
            margin: 5px 15px 5px 0;
            width: 250px;

        }

    }

    .render-beginning-locations-wrapper {

        .render-beginning-locations-item {
            display: flex;
            width: 80%;
            margin: 6px 30px 6px 0;
        }


        .addresses-wrapper {
            margin-bottom: 10px;

            .addresses-locations-item {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 6px 30px 6px 0;
                border-bottom: 1px solid #ffc107;
                padding: 8px;
                border-radius: 4px;
            }
        }
    }

    .expantion-wrapper-close {
        width: 332px;
        max-height: 45px;
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        overflow: hidden;
        transition: max-height 1s ease-out;
        margin: 12px 0;
    }

    .expantion-wrapper-open {
        width: 332px;
        border-radius: 20px;
        margin: 12px 0;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        transition: max-height 1s ease-in;
        overflow: hidden;
    }

    .header-wrapper {
        width: 90%;
        margin: auto;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    }


    .map-reload-wrapper {
        margin: 15px 0;
        display: flex;
        width: 332px;
        justify-content: space-between;

        .btn-wrapper {
            width: 150px;
        }

        .g-map {
            position: relative;
            width: 500px;
            height: 500px;
        }
    }
}

@media (max-width:550px) {
    .pursuit-requests-wrapper {
        .map-reload-wrapper {
            .g-map {
                position: relative;
                width: 300px;
                height: 400px;
            }
        }
    }
}