.success-order-item-wrapper {
    width: 90%;
    border-radius: 30px;
    position: relative;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;



    .icon-arrow-wrapper {
        margin: 0 30px;
    }

    .success-order-item-title {
        border-bottom: 1px solid rgb(218, 214, 214);
        width: calc(100% - 36px);
        margin: auto;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 15px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        padding-top: 10px;
        letter-spacing: normal;
        color: #3e3e3e;
        text-align: center;
    }

    .success-order-item-price {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.61;
        letter-spacing: normal;
        text-align: center;
        color: #3e3e3e;
        margin: 20px 0;
    }

    .success-order-item-dates-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        .success-order-item-date {
            font-size: 23px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.61;
            letter-spacing: normal;
            text-align: center;
            color: #3e3e3e;
        }
    }

    .success-order-item-btn-wrapper {
        width: 300px;
        display: flex;
        position: absolute;
        bottom: -20px;
        justify-content: space-between;
    }
}

.details-order-wrapper {
    display: flex;
    width: 550px;
    justify-content: space-around;


    .pics-loading-wrapper {
        border: 1px solid #f5c045;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        width: 100%;
    }

    .detail-directions-wrapper {
        border: 1px solid #f5c045;
        padding: 12px;
        border-radius: 10px;
        overflow: auto;
        height: 165px;
        width: 200px;

        .detail-directions-item {
            margin-bottom: 5px;
        }
    }

    .detail-title-item {
        border-bottom: 1px solid #f5c045;
    }
}

@media (max-width:650px) {
    .details-order-wrapper {
        width: 100% !important;
        flex-direction: column;
    }

    .success-wrapper-btn {
        width: 100% !important;
    }


    .ReactModal__Content {
        height: 550px !important
    }
}

@media (max-width: 600px) {
    .success-order-item-wrapper {
        width: 100%;

        .icon-arrow-wrapper {
            margin: 10px 30px;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .success-order-item-dates-wrapper {
            flex-direction: column;
        }
    }

}

// @media(max-width:800px) {
//     .custom-modal {}
// }