.supports-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;

  .g-map {
    position: relative;
    width: 80%;
  }

  .social-media-rules-wrappers {
    position: absolute;
    bottom: 175px;

    .btn-rules-wrapper {
      width: 100%;
      margin-bottom: 15px;
    }

    .social-media-wrapper {
      width: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .support-info-container {
    width: 80%;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 30px;

    * {
      margin-right: 5px;
    }

    .support-info-container-title {
      padding-top: 15px;
      padding-right: 10px;
    }



    .support-info-container-each-info {
      display: flex;

      * {
        margin: 10px;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.59;
        letter-spacing: normal;
        text-align: center;
        color: #3e3e3e;
      }
    }
  }
}

@media (max-width: 820px) {
  .supports-container {
    .support-info-container {
      width: 100%;
    }

    .g-map {
      position: relative;
      width: 100%;
    }

  }
}

@media (max-width:660px) {
  .supports-container {

    .support-info-container {
      h5 {
        font-size: 15px;
      }

      .support-info-container-each-info {
        h5 {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-device-width: 480px) {
  .supports-container {
    .social-media-rules-wrappers {
      bottom: -190px;
      margin-bottom: 20px;
    }

    .support-info-container {
      h5 {
        font-size: 15px;
      }

      .support-info-container-each-info {
        h5 {
          font-size: 15px;
        }
      }
    }
  }
}