@font-face {
  font-family: IRANSansMobile;
  src: url("../assets/fonts/IRANSansMobile.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  direction: rtl;
  font-family: IRANSansMobile;
  text-align: right;
  font-size: 13px;
}

.d-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.title-header {
  margin: 0 0 20px 0;
}

.justify-content {
  display: flex;
  justify-content: center;
}

.d-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toastify {
  border-radius: 7px;
}

.pointer {
  cursor: pointer;
}

.btn-df {
  width: 145px;
  height: 44px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  color: black;
  border: 0;
  cursor: pointer;
}

.input {
  width: 300px;
  height: 45px;
  border-radius: 20px;
  border: solid 1px #bcbcbc;
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 10px;
  padding-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}